.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
#button1{
  height :14vh;
  width:13vw;
  border-radius: 22%;
  margin-top: 20%;
  background-color: #282c34;
  color: aliceblue;
  font-size: 1.5em;
}
#button2{
  height :14vh;
  width:13vw;
  border-radius: 22%;
  margin-top: 20%;
  background-color: #282c34;
  color: aliceblue;
  font-size: 1.5em;
}
